<form class="form-horizontal" role="form" ng-submit="search()">
  <legend>Search torrent</legend>

  <div class="form-group">
    <input class="form-control" type="text" id="query" name="query" ng-model="query" placeholder="What do you want?" autofocus>
  </div>

  <div class="form-group text-right">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Clear search</button>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Seeders</th>
        <th>Leechers</th>
        <th>Magnet</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="torrent in results">
        <td ng-bind="torrent.name"></td>
        <td ng-bind="torrent.seeders"></td>
        <td ng-bind="torrent.leechers"></td>
        <td ng-bind="torrent.magnetLink"></td>
      </tr>
    </tbody>
  </table>
</div>
