<div class="jumbotron hidden-xs hidden-sm">
  <h1 class="text-center">The Pirate Bay WebApp</h1>
  <p>
    This WebApp allows you to search The Pirate Bay and get magnet links of torrents without having to enter the site.
  </p>
  <p>
    This WebApp born due to blockade of The Pirate Bay produced in Argentina by ISP companies: <strong>Speedy</strong>, <strong>Movistar</strong>, <strong>Fibertel</strong>, <strong>Prima</strong>, <strong>Telecentro</strong>, <strong>Iplan</strong>, <strong>Arnet</strong>, <strong>Personal</strong>, <strong>Metrotel</strong>, <strong>Sion</strong> and <strong>Claro</strong> under the orders of the <abbr title="Comisión Nacional de Comunicaciones">CNC</abbr>.
  </p>
  <p>
    This WebApp is Open Source and you can find the code in the <a href="https://github.com/sergiodxa/tpb-app" target="_blank">Github repository</a>.<br>
  </p>
</div>