<section class="row">
  <article class="col-sm-6">
    <legend><a href="#/top/100">Audio</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/101">Music</a></div>
      <div class="col-sm-4"><a href="#/top/102">Audio books</a></div>
      <div class="col-sm-4"><a href="#/top/103">Sound clips</a></div>
      <div class="col-sm-4"><a href="#/top/104">FLAC</a></div>
      <div class="col-sm-4"><a href="#/top/199">Other</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <legend><a href="#/top/400">Games</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/401">PC</a></div>
      <div class="col-sm-4"><a href="#/top/402">Mac</a></div>
      <div class="col-sm-4"><a href="#/top/403">PSx</a></div>
      <div class="col-sm-4"><a href="#/top/404">XBOX360</a></div>
      <div class="col-sm-4"><a href="#/top/405">Wii</a></div>
      <div class="col-sm-4"><a href="#/top/406">Handheld</a></div>
      <div class="col-sm-4"><a href="#/top/407">IOS (iPad/iPhone)</a></div>
      <div class="col-sm-4"><a href="#/top/408">Android</a></div>
      <div class="col-sm-4"><a href="#/top/499">Other</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <legend><a href="#/top/200">Video</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/201">Movies</a></div>
      <div class="col-sm-4"><a href="#/top/202">Movies DVDR</a></div>
      <div class="col-sm-4"><a href="#/top/203">Music videos</a></div>
      <div class="col-sm-4"><a href="#/top/204">Movie clips</a></div>
      <div class="col-sm-4"><a href="#/top/205">TV shows</a></div>
      <div class="col-sm-4"><a href="#/top/206">Handheld</a></div>
      <div class="col-sm-4"><a href="#/top/207">HD - Movies</a></div>
      <div class="col-sm-4"><a href="#/top/208">HD - TV shows</a></div>
      <div class="col-sm-4"><a href="#/top/209">3D</a></div>
      <div class="col-sm-4"><a href="#/top/299">Other</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <legend><a href="#/top/500">Porn</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/501">Movies</a></div>
      <div class="col-sm-4"><a href="#/top/502">Movies DVDR</a></div>
      <div class="col-sm-4"><a href="#/top/503">Pictures</a></div>
      <div class="col-sm-4"><a href="#/top/504">Games</a></div>
      <div class="col-sm-4"><a href="#/top/505">HD - Movies</a></div>
      <div class="col-sm-4"><a href="#/top/506">Movie clips</a></div>
      <div class="col-sm-4"><a href="#/top/599">Other</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <legend><a href="#/top/300">Applications</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/301">Windows</a></div>
      <div class="col-sm-4"><a href="#/top/302">Mac</a></div>
      <div class="col-sm-4"><a href="#/top/303">UNIX</a></div>
      <div class="col-sm-4"><a href="#/top/304">Handheld</a></div>
      <div class="col-sm-4"><a href="#/top/305">IOS (iPad/iPhone)</a></div>
      <div class="col-sm-4"><a href="#/top/306">Android</a></div>
      <div class="col-sm-4"><a href="#/top/399">Other OS</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <legend><a href="#/top/600">Other</a></legend>
    <div class="row">
      <div class="col-sm-4"><a href="#/top/601">E-books</a></div>
      <div class="col-sm-4"><a href="#/top/602">Comics</a></div>
      <div class="col-sm-4"><a href="#/top/603">Pictures</a></div>
      <div class="col-sm-4"><a href="#/top/604">Covers</a></div>
      <div class="col-sm-4"><a href="#/top/605">Physibles</a></div>
      <div class="col-sm-4"><a href="#/top/699">Other</a></div>
    </div>
  </article>
  <article class="col-sm-6">
    <h2><a href="#/top/0">Total top 100</a></h2>
  </article>
</section>